{% extends "base.html.twig" %}

{% block title %}Twig Page | {{parent()}}{% endblock %}

{% block body %}
	<h1>{{title}}</h1>

	<div>
		This is my 1st twig page
	</div>

	<div>
		From classicCars array:
		<ul>
			{% for car in classicCars %}
				<li>
					{{ car.year }}
					-
					{{car.brand}}
					-
					{{car.type|upper}}
				</li>
			{% endfor %}
		</ul>

	</div>
{% endblock %}